<!DOCTYPE html>
<html>
  <head>
  <title>Device</title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/device.js"></script>
</head>
<body>
  <h3>Connected as device.</h3>
  <p>Show 'em what you got ;)</p>
  <div>
    <p>Device's angle:</p>
    <h5 id="deviceAngle"></h5>
  </div>
</body>
</html>