<!DOCTYPE html>
<html>
  <head>
  <title>Device's angle viewer</title>
  <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/screen.js"></script>
</head>
<body>
  <h1>Your device's state: </h1>
  <div>
    <img id="imgPhone" src="/img/nokia-3310.png" width="120"/>
  </div>
</body>
</html>